#!/bin/bash

if [ ! -f /var/run/snort_tun{{ openvpn_port }}{{ openvpn_proto }}.pid ] ; then
    echo "Run snort on tun{{ openvpn_port }}{{ openvpn_proto }}"
    mkdir /var/log/snort/tun{{ openvpn_port }}{{ openvpn_proto }} -p
    /usr/sbin/snort -D -I -i tun{{ openvpn_port }}{{ openvpn_proto }} -u root -g snort -c /etc/snort/snort.conf -l /var/log/snort/tun{{ openvpn_port }}{{ openvpn_proto }}
fi
