#!/bin/bash

if [ ! -f /var/run/suricata_tun{{ openvpn_port }}{{ openvpn_proto }}.pid ] ; then
    echo "Run suricata on tun{{ openvpn_port }}{{ openvpn_proto }}"
    mkdir /var/log/suricata/tun{{ openvpn_port }}{{ openvpn_proto }} -p
    /usr/sbin/suricata -D -i tun{{ openvpn_port }}{{ openvpn_proto }} --pidfile /var/run/suricata_tun{{ openvpn_port }}{{ openvpn_proto }}.pid -c /etc/suricata/suricata.yaml -l /var/log/suricata/tun{{ openvpn_port }}{{ openvpn_proto }}
fi
