[Unit]
Description=Apache Kafka - broker
After=network.target

[Service]
Type=simple
#User=kafka
#Group=kafka
ExecStart=/opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/server.properties
LimitNOFILE=1000000
TimeoutStopSec=180
Restart=no

[Install]
WantedBy=multi-user.target
